{% extends "template1.html" %}
{% load url from future %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
      		odp.getTags();
			odp.setupSearchInput();
		});
	</script>
{% endblock %}

{% block center_container %}

<h1 id="title">Activation problem occurred</h1>
<h2 id="description">Sorry, a problem occured. Either your activation link was incorrect, or the activation key for your account has expired; activation keys are only valid for {{ expiration_days}} days after registration.</h2>

{% endblock %}
