{% extends "template1.html" %}
{% load url from future %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
      		odp.getTags();
			odp.setupSearchInput();
    $('table').append($('<tr>',{html:'<td></td><td><input type="submit" value="Change Password" class="button" /></td>'}))
		});
	</script>
{% endblock %}

{% block center_container %}


	<h1 id="title">Password Reset Successful</h1>
	<h2 id="description"></h2>

      <div class="resource">
        <div class="resource message">We've emailed you a link to reset your password. Check your email and click on the link to continue.</div>
      </div>


{% endblock %}


