{% extends "template1.html" %}
{% load url from future %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
      		odp.getTags();
			odp.setupSearchInput();
		});
	</script>
{% endblock %}

{% block center_container %}

<h1 id="title">Thanks for registering!</h1>
<h2 id="description"></h2>
      <div class="resource">
        <div class="resource message">
An activation link has been sent to the email address you provided.</div>
<h2 class="center">Once you've clicked on the link in your activation email you will be able to <a href="{{SITE_ROOT}}/accounts/login/">login</a>.</h2>
</div>

{% endblock %}
