{% extends "base.html" %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
			odp.getTags();
			odp.setupSearchInput();
		});
	</script>
{% endblock %}

{% block body_top %}

    <div id="contest_info" class="clear">
        <div id="box_wrapper">
            <div id="date_box" class="info_box">
                {% ifnotequal contest.has_started contest.has_ended %}
                    <div id="days_left">
                        <div id="days">{{contest.get_days_left}}</div>
                        <div id="left">DAY{% if contest.get_days_left != 1 %}S{% endif %} LEFT TO VOTE!</div>
                    </div>
                    <div id="days_events">
                        <div id="days_header">Event Information</div>
                            <div class="days_label">{{contest.start_date}}</div><div class="days_data">Voting starts</div>
                            <div class="days_label">{{contest.end_date}}</div><div class="days_data">Voting ends</div>
                    </div>
                {% else %}
                    {% if contest.has_started %}                    
                        <div id="days_left">
                            <div id="voting_over">VOTING IS OVER!</div>
                        </div>
                        <div id="days_events" class="days_over">Congratulations to the winners and thank you for participating in the {{contest.title}}! The contest is now finished, but you can 
                        continue to <a href="{{SITE_ROOT}}/opendata/nominate/?sort=rating_score&dir=desc">nominate</a> data sets for OpenDataCatalog.</div>
                    {% else %}
                        <div id="days_left">
                            <div id="days">{{contest.get_days_till_start}}</div>
                            <div id="left">DAY{% if contest.get_days_till_start != 1 %}S{% endif %} TILL VOTING STARTS!</div>
                        </div>
                        <div id="days_events">
                            <div id="days_header">Event Information</div>
                            <div class="days_label">{{contest.start_date|date}}</div><div class="days_data">Voting starts</div>
                            <div class="days_label">{{contest.end_date}}</div><div class="days_data">Voting ends</div>
                        </div>
                    {% endif %}    
                {% endifnotequal %}
                </div>
            <div class="info_box" id="pic_box"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

	<div id="center_container">
    {% include "loginlogout.html" %}
        <div id="contest_header">
            <a href="{% if contest.has_ended %}{{SITE_ROOT}}/contest/winners/{% else %}{{SITE_ROOT}}/contest/?sort=vote_count{% endif %}" id="logo">Contest Logo</a>
            <div id="contest_menu">
                <ul>
                    {% if contest.has_ended %}<li id="menu_winner" class="contest_menu"><a href="{{SITE_ROOT}}/contest/winners">CONTEST WINNERS</a></li>{% endif %}
                    <li id="menu_vote" class="contest_menu"><a href="{{SITE_ROOT}}/contest/?sort=vote_count&dir=desc">
                        {% if contest.has_ended %}ALL RESULTS{% else %}CAST YOUR VOTE{% endif %}</a></li>
                    <li id="menu_rules" class="contest_menu"><a href="{{SITE_ROOT}}/contest/rules/">RULES</a></li>
                    <li id="menu_odp" class="contest_menu"><a href="{{SITE_ROOT}}/">OpenDataCatalog</a></li>
                </ul>
            </div>
            <div id="contest_desc">
                {% block header_description %}   {% endblock %}
            </div>
        </div>

		<div id="center_content">
			{% block center_container %}
			{% endblock %}
		</div>

	</div>

  {% include "footer.html" %}


{% endblock %}
