# =================================================================
#
# $Id$
#
# Authors: Tom Kralidis <tomkralidis@hotmail.com>
#
# Copyright (c) 2010 Tom Kralidis
#
# Permission is hereby granted, free of charge, to any person
# obtaining a copy of this software and associated documentation
# files (the "Software"), to deal in the Software without
# restriction, including without limitation the rights to use,
# copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following
# conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
# HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
# =================================================================

[server]
home=/home/vagrant/src/azavea/opendatacat/opendatacatalog/lib/python2.6/site-packages/pycsw-1_3_dev-py2.6.egg/pycsw/
url=http://localhost:9811/csw/
mimetype=application/xml; charset=UTF-8
encoding=UTF-8
language=en-US
maxrecords=10
#loglevel=DEBUG
#logfile=/tmp/pycsw.log
#ogc_schemas_base=http://foo
#federatedcatalogues=http://geo.data.gov/geoportal/csw/discovery
#pretty_print=true
#gzip_compresslevel=8
#domainquerytype=range
#domaincounts=true
#profiles=apiso

[manager]
transactions=false
allowed_ips=127.0.0.1

[metadata:main]
identification_title=pycsw Geospatial Catalogue
identification_abstract=pycsw is an OGC CSW server implementation written in Python
identification_keywords=catalogue,discovery
identification_keywords_type=theme
identification_fees=None
identification_accessconstraints=None
provider_name=pycsw
provider_url=http://pycsw.org/
contact_name=Kralidis, Tom
contact_position=Senior Systems Scientist
contact_address=TBA
contact_city=Toronto
contact_stateorprovince=Ontario
contact_postalcode=M9C 3Z9
contact_country=Canada
contact_phone=+01-416-xxx-xxxx
contact_fax=+01-416-xxx-xxxx
contact_email=tomkralidis@hotmail.com
contact_url=http://kralidis.ca/
contact_hours=0800h - 1600h EST
contact_instructions=During hours of service.  Off on weekends.
contact_role=pointOfContact

[repository]
# sqlite
# database=sqlite:////home/vagrant/src/azavea/opendatacat/opendatacatalog/Open-Data-Catalog/OpenDataCatalog/data/cite/records.db
# postgres
database=postgresql://odc:odc@localhost/odc
# mysql
#database=mysql://username:password@localhost/pycsw?charset=utf8
mappings=settings.py

[metadata:inspire]
enabled=true
languages_supported=eng,gre
default_language=eng
date=2011-03-29
gemet_keywords=Utility and governmental services
conformity_service=notEvaluated
contact_name=National Technical University of Athens
contact_email=tzotsos@gmail.com
temp_extent=2011-02-01/2011-03-30

