{% extends "template1.html" %}
{% load url from future %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
      		odp.getTags();
			odp.setupSearchInput();
    $('table').append($('<tr>',{html:'<td></td><td><input type="submit" value="Reset Password" class="button" /></td>'}))
		});
	</script>
{% endblock %}

{% block center_container %}


	<h1 id="title">Reset Your Password</h1>
	<h2 id="description">Enter and confirm your new password below.</h2>


<div class="resource login-reg" id="form_container">
{% if form.errors %}
<div class="resource error_message">The form has errors. Please try again.</div>
{% endif %}
  <form method="post" action="">
  {% csrf_token %}
  <table>
  {{form}}
  </table>
  </form>
</div>

{% endblock %}
