{% extends "template1.html" %}
{% load url from future %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
      		odp.getTags();
			odp.setupSearchInput();
    $('table').append($('<tr>',{html:'<td></td><td><input type="submit" value="Change Password" class="button" /></td>'}))
		});
	</script>
{% endblock %}

{% block center_container %}


	<h1 id="title">Password Reset Complete</h1>
	<h2 id="description"></h2>

      <div class="resource">
        <div class="resource message">Your password has been set. You may <a href="{{SITE_ROOT}}/accounts/login">login</a> now.</div>
  </div>

{% endblock %}
