{% extends "template1.html" %}
{% load url from future %}

{% block title %} - Register{% endblock %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
      		odp.getTags();
			odp.setupSearchInput();
            $('#registration_table').append($('<tr>',{html:'<td></td><td><input type="submit" value="Register" class="button" /></td>'}))
            $('input:checkbox').next('br').remove() 
		});
	</script>
{% endblock %}

{% block center_container %}


	<h1 id="title">Register</h1>
	<h2 id="description">While you don't need to register to search and view the data sets, applications, and APIs cataloged
		here, creating a free account provides access to a few additional features. Registered users
		can comment on and rate the data sets, vote on <a href="{{SITE_ROOT}}/opendata/nominate/?sort=rating_score&dir=desc">nominated data sets</a>, and
		submit their own data sets, applications, or APIs for inclusion.
		<br/><br/>
		Complete the short form below to register for an account on OpenDataPhilly. Your privacy is important
		to us. We promise that your contact info will never be sold or rented.</h2>


<div class="resource login-reg" id="form_container">
{% if form.errors %}
<div class="resource error_message">The form has errors. Please try again.</div>
{% endif %}
  <form method="post" action="{{SITE_ROOT}}/accounts/register/">
  {% csrf_token %}
  <table id="registration_table">
  {{form}}
  </table>
  </form>
</div>

{% endblock %}
